
/* 
    Created on : 26 ene. 2023, 18:34:09
    Author     : Fernando
*/

@import url('https://fonts.googleapis.com/css2?family=Asap:wght@200&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Asap', sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    background-image: url(../images/fondo.png);
    background-position: center;
    background-size: cover;   
    /*Los .. lo sacan de la carpeta donde está. El cover expande la imagen para que cubra todo*/
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}

.navbar{
    width: 100%;
    height: 15vh;
    margin: auto; /*el auto centra los elementos dentro de la caja a la que pertenezcan*/
    align-items: center;
    display: flex; /*Se definen las etiquetas como flexibles, esto habilita nuevas propiedades y valores responsive*/
}

.logo{
    width: 160px;
    cursor: pointer; /*Esto hace que al pasar sobre el logo se simule como si se pudiera tocar*/
}

nav{
    padding-left: 60px;
    display: inline-block;
    position: relative;
    left: 65%;
}

nav ul li{ /*Define una jerarquia para que afecte solo a li que cumpla*/
    display: inline-block;
    list-style: none;
    margin: 0px 20px; /*arriba-abajo  izquierda-derecha*/
}

nav ul li a{
    text-decoration: none; /*Quita el subrayado de la etiqueta*/
    color: black;
}

.content h1{
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #000099;
}

.content p{
    font-size: 20px;
    color: black;
}

.content{
    margin-top: 10%;
    margin-left: 10%
}

.fondo{
    height: 50%;
    position: absolute;
    bottom: 50px;
    right: 160px;
}